<% provide(:title , "Home") %>

  <table class="table table-hover table-borderless">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Пользователь</th>
      <th>Название</th>
      <th>Тема</th>
      <th>Текст</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <th><%=link_to("Перейти" , post ) %></th>
      <th><%= post.user.email %></th>
      <td><%= post.title %></td>
      <td><%= post.summary %></td>
      <td><%= post.body %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% if user_signed_in? %>
<%=link_to("New Post", new_post_path , class: "btn btn-success btn-lg new") %>
<% else %>
<button type="button" class="btn btn-success"> <%=link_to("Log in", new_user_session_path , class: "new") %> </button>
<% end %>
</div>