<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 
    'data-turbolinks-track'=>true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <% end %>
    <main>
      <%= yield %>
    </main>
    <footer>
      
    </footer>
  </body>
</html>